@use 'icon';


.dashboard {

  &-widgets {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    height: 360px;
    max-height: 360px;

    .task-status-count-card {
      width: 45%;
    }

    .recently-updated {
      width: 50%;
    }
  }

}
