<div class="alert">

  <div class="alert__wrapper">

    <div class="alert__content">
      <div class="alert__icon">
        <mat-icon>warning</mat-icon>
      </div>
      <div>
        @if (data.title) {
        <div class="alert__title ">
          {{data.title}}
        </div>
        }

        @if (data.message) {
        <div class="alert__message">
          {{data.message}}
        </div>
        }
      </div>

    </div>

    @if (data.hasCloseIcon) {
    <div class="alert__close__button">
      <button mat-icon-button (click)="handleCloseButton($event)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    }

  </div>




</div>
