<div class="login-page__container">

  <div class="login-page">
    @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }

    <div class="login-page__wrapper">

      <div class="app-logo">
        <mat-icon class="logo" svgIcon="app-logo"></mat-icon>
        <span class="title"> TaskFlow</span>
      </div>
      <div class="content">
        <div class="greet-text__wrapper">
          <span class="welcome-text">Welcome back</span>
          <div class="login-text">Log in to your account to continue.</div>
        </div>

        <div class="google-login-btn__wrapper">
          <button class="google-login-btn" type="button">
            <img class="google-logo" src="google-logo.png" alt="">
            Continue with Google
          </button>
        </div>

        <div class="line-break">
          <hr class="line">
          <span class="text">Or</span>
        </div>


        <form class="form" [formGroup]="loginForm">
          <div class="form-field">
            <label for="email">Email</label>
            <input formControlName="email" type="email" id="email" placeholder="you@example.com">
            <small class="error-message">{{getEmailErrorMessage()}}</small>
          </div>

          <div class="form-field">
            <label for="password">Password</label>
            <input autocomplete formControlName="password" [type]="isPasswordVisible? 'text':'password'" id="password"
              placeholder="Password">
            <mat-icon class="visibility-icon icon" (click)="handleVisibilityIconEvent()">
              {{isPasswordVisible? 'visibility': 'visibility_off' }}
            </mat-icon>
            <small class="error-message">{{getPasswordErrorMessage()}}</small>
          </div>

          <button [disabled]="loginForm.invalid" mat-raised-button color="primary" class="login-btn" type="button"
            (click)="handleSubmitEvent()">
            Login
          </button>
        </form>
        <div class="forgot-password">
          <a routerLink="forgot-password">Forgot Password ?</a>
        </div>

        <div class="sign-up">
          Don't have an account? <a routerLink="sign-up"> Sign up here </a>
        </div>

      </div>
    </div>


  </div>

</div>
