<mat-card class="task-count-by-status-card">

  <mat-card-header class="task-count-by-status-card__header">
    <mat-card-title>Task Report</mat-card-title>
  </mat-card-header>
  <mat-card-content class="task-count-by-status-card__content">

    @if (errorObject) {
    <app-alert [data]="errorObject"></app-alert>
    }

    <div class="task-count-by-status-card__content-item completed">
      <mat-icon class="task-count-by-status-card__content-item__icon">task_alt</mat-icon>
      <div class="task-count-by-status-card__content-item__data">
        <span> COMPLETED </span>
        @if (isLoading) {
        <mat-progress-spinner [diameter]="30" color="primary" [strokeWidth]="4"
          mode="indeterminate"></mat-progress-spinner>
        }@else {
        <span>{{taskCountByStatus?.completedStatusCount ?? 0 }}</span>
        }
      </div>
    </div>
    <div class="task-count-by-status-card__content-item in-progress">

      <mat-icon class="task-count-by-status-card__content-item__icon">sync</mat-icon>

      <div class="task-count-by-status-card__content-item__data">
        <span>IN PROGRESS </span>
        @if (isLoading) {
        <mat-progress-spinner [diameter]="30" color="primary" [strokeWidth]="4"
          mode="indeterminate"></mat-progress-spinner>
        } @else {
        <span>{{taskCountByStatus?.inProgressStatusCount ?? 0 }}</span>
        }
      </div>

    </div>
    <div class="task-count-by-status-card__content-item not-ready">
      <mat-icon class="task-count-by-status-card__content-item__icon">block</mat-icon>
      <div class="task-count-by-status-card__content-item__data">
        <span> NOT READY </span>
        @if (isLoading) {
        <mat-progress-spinner [diameter]="30" color="primary" [strokeWidth]="4"
          mode="indeterminate"></mat-progress-spinner>
        } @else {
        <span>{{taskCountByStatus?.notReadyStatusCount ?? 0 }}</span>
        }
      </div>
    </div>

  </mat-card-content>
</mat-card>
