@use 'task-status';

.task-count-by-status-card {
  &__header {
    margin-bottom: 16px;
    height: 48px;
    box-sizing: border-box;
  }

  &__content {
    height: calc(360px - 84px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &-item {
      height: 64px;
      font-weight: 500;
      border-radius: 8px;
      padding: 4px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;

      &__icon {
        font-size: 36px;
        height: unset;
        width: unset;

      }

      &__data {
        width: 75%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 18px;
      }

      .progress-spinner {
        margin: 96px auto;
      }
    }

  }
}
