.task-form {
  padding: 1rem 1.5rem;
  position: relative;

  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;

  .form-field {
    margin-bottom: 1rem;

    &-label {

      margin-bottom: 12px;
    }

    &-item {
      width: 100%;
    }
  }

  .form-footer {
    margin-top: 1.5rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }


}
