<div class="task-form">
  <form [formGroup]="taskForm">
    <h4>Task Details</h4>

    <div class="form-field">
      <div class="form-field-label">Task Name </div>
      <mat-form-field class="form-field-item" subscriptSizing="dynamic">
        <mat-label>Enter the Task Name</mat-label>
        <input type="text" formControlName="name" matInput>
        <mat-error *ngIf="taskForm.get('name')?.hasError('required')">Task Name is Required</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field">
      <div class="form-field-label">
        Task Description
      </div>
      <mat-form-field class="form-field-item" subscriptSizing="dynamic">
        <mat-label>Enter the Task Description</mat-label>
        <input type="text" formControlName="description" matInput>
      </mat-form-field>
    </div>

    <div class="form-field">
      <div class="form-field-label">Select the Task Status</div>
      <mat-chip-listbox aria-label="select a shirt size" formControlName="status" class="form-field-item">
        <mat-chip-option value="NOT_READY"> Not Ready </mat-chip-option>
        <mat-chip-option value="IN_PROGRESS"> In Progress </mat-chip-option>
        <mat-chip-option value="COMPLETED"> Completed </mat-chip-option>
      </mat-chip-listbox>
      <mat-error *ngIf="taskForm.get('status')?.hasError('required')">Task Status is Required</mat-error>
    </div>


    <div class="form-field">
      <div class="form-field-label">Select the Task Due Date</div>
      <mat-form-field class="form-field-item" subscriptSizing="dynamic">
        <input formControlName="dueDate" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>

  <div class="form-footer">
    <button mat-raised-button color="primary" [disabled]="taskForm.invalid"
      (click)="handleSubmitEvent()">Submit</button>
    <button mat-stroked-button (click)="handleCancelEvent()">Cancel</button>
  </div>
</div>
