/* You can add global styles to this file, and also import other style files */

@use "@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-inner-content {
  margin: 16px 32px;
  overflow: auto;
  height: calc(100vh - 168px);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  margin-bottom: 24px !important;
  box-shadow: 0 1px 4px #0000001a,
    0 1px 4px #0000001a;
  background-color: white !important;
}
